.border{
  position: absolute;
  top: 130px;
  left: 50px;
  width:1180px;
  height: 900px;

  border-radius: 12px;
  float: left;
  border: 1px solid none;
  background-color: white;
  margin: 0px 50px 100px 0px;

}

  .img{
      position: absolute;
      left: 80px;
      top: 50px;
      width:450px;
      height: 450px;
      box-shadow: 1px 1px 10px 0px rgb( 55, 52, 52 );
  }

  .head-title{
    font-family: "Yu Gothic UI Light";
    font-size: 45px;
    color: #2d70d5;
    position: absolute;
    left: 700px;
    top: 10px;
  }

  .artist{
    font-size: 20px;
    font-family: "Yu Gothic UI Light";
    color: #333333;
    position: absolute;
    left: 700px;
    top: 130px;
    z-index: 3;
  }

  .openbutton{
      font-family: "Yu Gothic UI Light";
     font-weight: bold;
     color: white;
     font-size: 15px;
     margin-bottom: 30px;
     background-color: #43b353;
     position: absolute;
     right: 180px;
     width: 200px;
     height: 50px;
     border-radius:50em;
     top: 800px;


  }
  .closebutton{
    border-radius: 8px;
     font-family: "Yu Gothic UI Light";
     color: white;
     font-size: 15px;
     font-weight: bold;
     text-align: center;
     border: none;
     box-shadow: 1px 1px 5px 0px rgb(0, 0, 1);
     background-color: #aaa;
     padding: 15px;
     position: absolute;
     top: 800px;
     right: 180px;
     width: 200px;
     height: 20px;
     border-radius:50em;
     margin-bottom: 30px;

  }
  .contact{
     border-radius: 8px;
     border: none;
     box-shadow: 1px 1px 5px 0px rgb(0, 0, 1);
     background-color: #aa1313;
     font-family: "Yu Gothic UI Light";
     color: white;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     padding: 12px 10px 8px 10px;
     position: absolute;
     top: 233px;
     right: 195px;
     width: 100px;
     height: 50px;
     z-index: 30;
  }

  .hr{
      position: absolute;
      top: 325px;
      left: 700px;
      width: 440px;
      z-index: 40;
  }

  .about{
    font-size: 17px;
    font-family: "Yu Gothic UI Light";
    color: #333333;
    position: absolute;
    left: 700px;
    top: 325px;
    height: 35px;
    z-index: 3;
    font-weight: bold;
  }

  .desc{
    font-size: 14px;
    font-family: "Yu Gothic UI Light";
    text-align: justify;
    text-indent: 50px;
    color: #333333;
    position: absolute;
    left: 700px;
    top: 360px;
    width:450px;
    height: 240px;
    z-index: 1;
    overflow: scroll;
  }